@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap'); 

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* css reset to different browser styles */
    font-family: 'Lora', serif;
    ;
}

body {
    background: linear-gradient(to right, #eee2dc, #edc7b7);
}

h1, h4, a {
  color: #AC3B61;
  text-decoration: none;
  /* last line removes the nav link styling */
}

ul {
    list-style-type: none;
}
  
  .btn {
    padding: 12px 12px;
    font-size: 1rem;
    background: #edc7b7;
    color: #222;
    border: 1px solid #fff;
    font-weight: 600;
    cursor: pointer;
  }

  .btn-light {
    background: black;
    color: #edc7b7;
  }
  
  .btn:hover {
    background: #bab2B5;
    color: black;
    transition: 0.3s;
  }

p {
    color: #AC3B61;
    font-style: italic;
}